<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Generating the main idea of the text</h1>
        <hr />
        <p>you can visit <a href="/contact.html">CONTACT PAGE</a></p>
        <form action="/url" method="GET">
            <label for="link">Insert a link to the text: </label>
            <input type="text" id="link" name="link" placeholder="https://" required>
            <button type="submit">Submit</button>

        </form>
    </body>
</html>
